.rhap_container {
  background-color: #303030;
  box-shadow: none;
  padding: 10px 0;

  &:focus {
    outline: none;
  }
}
.rhap_rewind-button, .rhap_forward-button {
  display: none; 
}

.rhap_main-controls-button, .rhap_volume-button {
  color: #c0449d;
}

.rhap_volume-button:focus, .rhap_volume-bar-area:focus, .rhap_progress-container:focus {
  outline: none;
}

.rhap_progress-indicator, .rhap_volume-indicator {
  background-color: #c0449d;
  box-shadow: none;
}

.rhap_play-pause-button {
  
  &:focus {
    outline: none;
  }
}

.rhap_time {
  color: #fff;
  font-size: 0.75rem;
}
