.game-end {
  text-align: center;
  border: 1px solid #555;

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  hr {
    margin: 1.5rem 0;
    border-top: 1.5px solid #555;
    margin: 1.8rem 0 1.5rem;
  }

  img {
    width: 200px;
    height: 150px;
    border-radius: 0.25rem;
    object-fit: cover;
  }
  
  .next {
    margin-bottom: 0;
    padding: 0.75rem 0.75rem;
  }
}